/********************************  Global ********************************/
* {
  /**
   * Color of the title and brand :
   * - 581845 for the dark one
   *   (palette :
   *     #182559
   *     #18592C
   *     #594C18
   *     #591846
   *   )
   * - 900C3F for the light one
   * @type color
   ************************/
  --brand-color: #581845;
  font-family: Quicksand;
  --brand-ff:   Calligraffitti;
}

.btn-primary:hover {
  background-color: #182559;
  border-color:     #273468;
}
.btn-primary {
  background-color: #273468;
  border-color:     #3E4B7F;
}

/*
 * Removing spin-button from input number
 */
input[type='number'] {
    -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/******************************** Sidebar ********************************/
#wrapper {
  padding-left: 25%;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {;
  margin-left: -25%;
  left: 25%;
  width: 25%;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
  background-color: #f8f8f8;
  border-right: 1px solid #e7e7e7;
}
.nav>li.active {
  color: #555;
  background-color: #e7e7e7;
}
.nav>li:hover {
  color: #555;
  background-color: #e7e7e7;
}
.nav>li>a {
  color: #777;
}

#wrapper.active {
  padding-left: 0;
}

#wrapper.active #sidebar-wrapper {
  left: 0;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  font-size: 150%;
  position: absolute;
  top: 0;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar-bottom {
  position: absolute;
  bottom: 0;
}
img {
  width: 100%;
  height: auto;
}
/********************************  Navbar ********************************/
#navbar {
  font-size: 16px;
}
.navbar-brand {
  font-size:                            28px;
  font-family: var(--brand-ff)    !important;
  color:       var(--brand-color) !important;
}
#navbar_timer>.btn {
  background-color: var(--brand-color);
  color:                       #E7E7E7;
  margin-top:                      4px;
  font-size:                      20px;
  text-align:                   center;
}
#navbar_timer>.btn:hover {
  animation: tossing 2s infinite;
  animation-delay: 1s;
}
@keyframes tossing {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(-4deg);
	}
	75% {
		transform: rotate(4deg);
	}
  100% {
    transform: rotate(0deg);
  }
}
/************************** Homepage / Jumbotron *************************/

#jumbotron {
  background: rgba(89, 76, 24, 0.2);
  margin:        10px;
	text-align:  center;
  border-radius: 30px;
}
#jumbotron>.title {
  font-family: var(--brand-ff)    !important;
  color:       var(--brand-color) !important;
}

/************************** principal container **************************/
#client_controls {
  position: relative;
  min-height: 2000px;
}
.color {
  margin-left: 10%;
  min-width: 100px;
}
#team1_score,#team2_score {
  font-weight: bold;
  font-size: 18px;
}
.circle {
    margin-top:        3px;
    width:            30px;
    height:           30px;
    border-radius:     50%;
    background:      white;
    border: 3px solid #333;
}

.circle.error {
    background: #333;
    animation: blink 0.2s alternate 3;
}

@keyframes blink {
    0% {background: white}
    60% {
        background: white;
    }
  100% {
    background: #333;
  }
}

.confirm-btn {
  margin-top: 10px;
}

label {
  margin-top: 10px;
}

input {
  margin-bottom: 4px;
}

/***************************  A Few Animations ***************************/

#jumbotron {
	animation-name: slideExpandUp;
	-webkit-animation-name: slideExpandUp;

	animation-duration: 1.6s;
	-webkit-animation-duration: 1.6s;

	animation-timing-function: ease-out;
	-webkit-animation-timing-function: ease-out;

	visibility: visible !important;
}

@keyframes slideExpandUp {
	0% {
		transform: translateY(100%) scaleX(0.5);
	}
	30%{
		transform: translateY(-8%) scaleX(0.5);
	}
	40%{
		transform: translateY(2%) scaleX(0.5);
	}
	50%{
		transform: translateY(0%) scaleX(1.1);
	}
	60%{
		transform: translateY(0%) scaleX(0.9);
	}
	70% {
		transform: translateY(0%) scaleX(1.05);
	}
	80%{
		transform: translateY(0%) scaleX(0.95);
	}
	90% {
		transform: translateY(0%) scaleX(1.02);
	}
	100%{
		transform: translateY(0%) scaleX(1);
	}
}
