* {
    box-sizing: border-box;
    font-family: arial, sans-serif; /* TODO add dynamic font */
    font-variant: small-caps;
    font-weight: bold;
}

body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    margin-top: 3vh;
    width: 90vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /*align-content: space-around;*/
    border: 4px solid white;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

/*
        MIRROR MODE
 */
#team1 {
  order: 3
}
#timers {
  order: 2
}
#team2 {
  order: 1
}
#theme {
  order: 4
}

#team1_score,#team2_score {
  padding-top: 2vh;
  margin-bottom: 1vh;
  font-size: 20vh;
  font-weight: bold;
  height: 28vh;
  width: 28vh;
  border: 4px solid white;
  border-radius: 15px;
}

#team1_name,#team2_name {
  margin-bottom: 1vh;
  font-size: 1.5em;
}

#theme {
    height: 60%;
    margin-top: 3vh;
    width: 85%;
    border: 4px solid white;
    border-radius: 15px;
    padding: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}

#theme_title {
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 80%;
}

#impro_type {
  /*margin-top: 2px;*/
  margin-right: 20%;
}

#category {
    width: 90%;
}

#team1_errors, #team2_errors {
    width: 28vh;
    display: flex;
    justify-content: space-around;
}

#timer_current {
  margin-top: 9vh;
  font-size: 3.5em;
  background: #333;
  border: 4px solid white;
  border-radius: 15px;
  padding: 2vh;
}

#timer_global {
  margin-top: 3vh;
  font-size:2em;
}
.circle {
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    background: black;
    border: 4px solid white;
    margin-top: 0;
}

@keyframes blink {
    0% {background: black}
    60% {
        background: black;
    }
  100% {
    background: white;
  }
}

.circle.error {
    background: white;
    animation: blink 0.2s alternate 5;
}
