* {
    box-sizing: border-box;
    font-family: serif; /* TODO does it work ? */
}

body {
    background-color: black;
    color: white;
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;
    border: 4px solid white;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

#team1, #team2 {
    width: 25%;
    border: 4px solid white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
}

#timer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#theme {
    margin-top: 10px;
    width: 80%;
    border: 4px solid white;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}

#theme_title {
    width: 90%;
}

#timer_current {
    width: 90%;
}

#category {
    width: 90%;
}

#team1_errors, #team2_errors {
    display: flex;
    justify-content: space-around;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: black;
    border: 2px solid white;
    margin-bottom: 4px;
}

@keyframes blink {
    0% {background: black}
    60% {
        background: black;
    }
  100% {
    background: white;
  }
}

.circle.error {
    background: white;
    animation: blink 0.2s alternate 5;
}
